@import "lib/base-import";
@import "lib/row";
@import "lib/header";
@import "lib/footer";
@import "lib/social";
@import "lib/slideshow";

.header-classes();
.footer-classes();
.social-classes();

/* Generic Classes */
.clear {
  clear: both;
}
/* End Generic Classes */

body {
  background: @pale-gray;
  width: @column-width * 30;
  margin: 0px auto;
}

a {
  pointer: pointer;
}

#main {
  position: absolute;
  display: none;
  .row-classes();
  .slideshow-classes();
}
